<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
    <add key="mongoQueueUrl" value="mongodb://egAdmin:gremlinz@localhost:27017"/>
    <add key="mongoQueueDb" value="testing"/>
    <add key="mongoQueueCollection" value="messages"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
